/* -------- Connecting fonts ---------- */

@font-face {
	font-family: 'MuseoSansCyrl-700';
	src: url('../fonts/museosanscyrl-700.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/museosanscyrl-700.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/museosanscyrl-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/museosanscyrl-700.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/museosanscyrl-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/museosanscyrl-700.svg#museosanscyrl-700') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'MuseoSansCyrl-300';
	src: url('../fonts/museosanscyrl-300.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/museosanscyrl-300.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/museosanscyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/museosanscyrl-300.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/museosanscyrl-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/museosanscyrl-300.svg#museosanscyrl-300') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'Natasha-700';
    src: url('../fonts/Natasha-700.eot');
    src: url('../fonts/Natasha-700.eot') format('embedded-opentype'),
        url('../fonts/Natasha-700.woff2') format('woff2'),
        url('../fonts/museosanscyrl-700.woff') format('woff'),
        url('../fonts/Natasha-700.ttf') format('truetype'),
        url('../fonts/Natasha-700.svg#Natasha-700') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* -------- specificity ---------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: MuseoSansCyrl-700, MuseoSansCyrl-300, Arial, sans-serif;
    color: #000000;
    padding: 0;
    margin: 0;
}

.container {
    width: 944px;
    margin: 0 auto;
}

div,
p,
form,
input,
button,
span,
a {
    box-sizing: border-box;
    text-decoration: none;
    color:#FFF;
}

p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;

}

h1,
h2,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: 700;
}

h4 {
        font-family: 'MuseoSansCyrl-300';
        font-size:20px;
        font-weight: 400;
}

h3 {
    font-family: 'Natasha-700';
    font-size: 22px;
}

h2 {
    font-size: 37px;
    font-family: 'Natasha-700';
    color:#000000;
}

h5 {
    font-family:  'MuseoSansCyrl-700';
    font-size: 15px;
    text-transform: uppercase;

}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

/* Header-section */
.header-section {
    padding: 50px 0 82px;
    background-image: linear-gradient( rgb(0 0 0 / 57%), rgb(0 0 0 / 0%) ), url(../Img/background.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:#fff;
}

.header__logo-menu {
    margin-bottom: 292px;
}

.header__logo-menu
.header__logo {
    display: inherit;
    font-size: 17px;
}
.header__logo-one-part {
    font-family: MuseoSansCyrl-300;

}
.header__logo-two-part {

}
.header__nav {
    max-width: 253px;
    width: 100%
}



.header__menu {
    display: flex;
}
.header__menu-item {
    padding-right: 25px;
    font-size:15px;
}

.header__menu-item a:hover {
    color: #000000;
    transition: 0.7s;
}
.header__menu-item> :not(:last-child) {
    padding-right: 25px;
}

.header__email {
    font-size: 13px;
    font-family: MuseoSansCyrl-300;

}

.header__foreword{

}

.header__down {
    text-align: center;

}

.header__foreword-title{
    font-family: 'Natasha-700';
    font-size: 49px;
    margin-bottom: 19px;

}
.header__foreword-text{
    font-family: 'MuseoSansCyrl-300';
    font-size: 29px;
    margin-bottom: 261px;

}
.header__foreword-symbol{
    border: 1px solid #FFF;
    border-radius: 50%;
    width: 62px;
    height: 87px;
    font-size: 18px;
    padding: 8px 15px 11px 16px;
    cursor: pointer;
}

/* about me section */

.about-me-section{
    padding: 85px 0 27px;
}
.about-me{
    display: flex;
    justify-content: space-between;
}

.about-me-section__main-title{
    margin-bottom: 69px;
}
.about-me-section__background{
    max-width: 434px;
    width: 100%;
}
.about-me-section__title{
   color: rgba(34, 36, 27, 0.66);
   margin-bottom: 49px;
}
.about-me-section__texts{

}
.about-me-section__texts p{
    color:#000000;
    font-family: MuseoSansCyrl-300;
}

.about-me-section__texts>  :not(:last-child) {
    padding-bottom: 40px;
}

.about-me-section__progress-relations {
    max-width:452px;
    width:100%;  
}
.about-me-section__progress{
}
.about-me-section__title{

}
.about-me-section__merits{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.about-me-section__merit{
    max-width: 109px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about-me-section__number-wrapper{
    font-family: 'MuseoSansCyrl-300';
    font-size: 20px;
    display: flex;
    color: #000000;
    width: 58px;
    height: 58px;
    border: 1px solid #C6D6BB;
    transform:rotate(45deg);
    position: relative;
    align-items: center;
    justify-content: center;
}

.about-me-section__number-wrapper:after{
    content: "";
    border: 1px solid #204D15;
    width:73px;
    height: 73px;
    position: absolute;
    left:-9px;
    top:-9px;
}
.about-me-section__number{
    color: #000000;
    transform:rotate(-45deg);
}



.about-me-section__text{
    font-family: 'MuseoSansCyrl-300';
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    width:109px;
    margin-top: 40px;
}

.three{
        width: 67px;
        margin-inline: auto;
}
.about-me-section__relations{
    margin-top: 75px;
}
.about-me-section__title-Ñall{
    color: rgba(34, 36, 27, 0.66);
}

.about-me-section__links-write{
    display: flex;
    justify-content: space-between;

}

.about-me-section__links>:not(:last-child){
    padding-bottom: 10px;
}
.about-me-section__link{
    font-size:14px;
    font-family: 'MuseoSansCyrl-300';
    font-weight: 400;
    
}


.about-me-section__link a{
    color: #204D15;
    border-bottom: 1px solid #C6D6BB;            
}

 
.about-me-section__write{
    color:#204D15;
    font-family: 'MuseoSansCyrl-300';
    font-weight: 400;
    font-size: 14px;
    margin-top: 26px;

}

.about-me-section__write p{
    

}
.about-me-section__image{
    background: #C6D6BB;
    width: 24px;
    height: 24px;
    padding: 20px 20px 20px 20px;
    border:  1px solid #C6D6BB;
    border-radius: 50%;
}

/* SKILL SECTIOM */
.skills-section{
    padding: 28px 0 48px;
}
.skills{
    max-width: 911px;
    width: 100%;
}

.skills-section__title{
    padding-left: 32px;
}
.skills-section__experiences{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.skills-section__experience{
    display:flex;
    align-items: center;
}
.skills-section__number{
    width:822px;
    color:#000000;
    font-size:13px;
    border: 1px solid #C6D6BB;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.skills-section__number:after{
    content: "";
    border: 1px solid #204D15;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    position: absolute;
}

.skills-section__title{
    color:#000000;
    padding-left: 32px;
}

.skills-section__title> :not(:last-child) {
    margin-left: 32px;
}

/* JOB SECTION */

.jobs-section{
    padding:50px 0 100px;
}
.jobs{

}
.jobs__list {
    justify-content: space-between;
    display: flex;
    transition: all 0.5s ease;  
}

.jobs__list-wrapp {
    position: relative;
}

.jobs__image{
    display: block;
    margin: 0 auto;
}

.jobs__list-title {
    font-family: 'Natasha-700';
    font-size: 15px;
}

.jobs__list-text {
    font-family: 'MuseoSansCyrl-300';
    font-size: 13px;
    text-decoration:  underline;
}

.jobs_list-overlay {
    flex-direction: column;
    display: none;
    color: #FFF;
    background: rgba(0, 0, 0, 0.64);
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    opacity: 0;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.jobs__list-wrapp:hover .jobs_list-overlay { 
    opacity: 1;
}

/* FOOTER SECTION */

.footer-section {
    padding: 62px 0 98px;
}
.footer {
    
}
.footer_text {
    color: rgba(0, 0, 0, 0.66);
    font-family: 'MuseoSansCyrl-300';
    font-size: 11px;
    text-transform: uppercase;  
}
            